{% extends "base_consultas.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Productos más vendidos{% endblock %}

{% block page_content %}

<div class="page-header">    
    <h1>Productos m&aacute;s vendidos</h1>
	</p>	
    {{ wtf.quick_form(formulario) }}
</div>

<div class="container">
	<table class="table">
	    <thead>
	        <tr>
	            <th>C&Oacute;DIGO</th>
	            <th>PRODUCTO</th>
	            <th>CANTIDAD</th>
	        <tr>
	    </thead>
	    <tbody>
	        {% for producto in lista %}
	        <tr>
	            <td>{{ producto.codigo }}</td>
	            <td>{{ producto.producto }}</td>
	            <td>{{ producto.cantidad }}</td>
	        </tr>
	        {% endfor %}
	    </tbody>
	</table>
</div>


{% endblock %}
